<div class="row clearfix">

    <div class="col-md-6"><div class="card"><div class="body">@Html.Raw(ViewBag.AnalysisSection1)</div></div></div>
    <div class="col-md-6"><div class="card"><div class="body">@Html.Raw(ViewBag.AnalysisSection2)</div></div></div>
    <div class="col-md-6"><div class="card"><div class="body">@Html.Raw(ViewBag.AnalysisSection3)</div></div></div>
    <div class="col-md-6"><div class="card"><div class="body">@Html.Raw(ViewBag.AnalysisSection4)</div></div></div>
    <div class="col-md-6"><div class="card"><div class="body">@Html.Raw(ViewBag.AnalysisSection5)</div></div></div>
    <div class="col-md-6"><div class="card"><div class="body">@Html.Raw(ViewBag.AnalysisSection6)</div></div></div>

</div>