<div class="row clearfix">

    <!-- 1. Müşteri Profili -->
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                @Html.Raw(ViewBag.AnalysisSection1)
            </div>
        </div>
    </div>

    <!-- 2. Ürün Tercihleri -->
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                @Html.Raw(ViewBag.AnalysisSection2)
            </div>
        </div>
    </div>

    <!-- 3. Zaman Bazlı Alışveriş -->
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                @Html.Raw(ViewBag.AnalysisSection3)
            </div>
        </div>
    </div>

    <!-- 4. Ortalama Harcama ve Sıklık -->
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                @Html.Raw(ViewBag.AnalysisSection4)
            </div>
        </div>
    </div>

    <!-- 5. Sadakat & Tekrar Harcama -->
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                @Html.Raw(ViewBag.AnalysisSection5)
            </div>
        </div>
    </div>

    <!-- 6. Pazarlama Önerileri -->
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                @Html.Raw(ViewBag.AnalysisSection6)
            </div>
        </div>
    </div>

</div>
